html, body {
  width: 768px;
  height: 100%;
  overflow-x: hidden;
}

#headertitle {
  height: 135px;
  width: 768px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
#headertitle .title {
  font-family: "Shrikhand", cursive;
  font-size: 70px;
}
#headertitle a {
  color: #353535;
  font-size: 40px;
  margin-left: -130px;
  margin-right: -300px;
}

#headerlocalization {
  height: 110px;
  width: 768px;
  background: #EAEAEA;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #353535;
  font-size: 30px;
}
#headerlocalization .pinmap {
  margin-right: 30px;
}
#headerlocalization .localization {
  font-weight: bold;
  font-family: "Roboto";
}

#reservation {
  height: 615px;
  width: 768px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: #F6F6F6;
  font-family: "Roboto";
}
#reservation .reservationtitle {
  font-weight: bold;
  font-size: 50px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 30px;
}
#reservation .reservationtext {
  font-weight: lighter;
  font-size: 40px;
  margin-bottom: 50px;
}
#reservation .reservationbutton {
  width: 500px;
  font-size: 40px;
  background-image: linear-gradient(-1deg, #9356DC, #FF79DA);
  color: white;
  border-radius: 50px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 100px;
  margin-right: 100px;
}

#fonctionnement {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background: white;
  height: 920px;
  width: 768px;
  font-family: "Roboto";
}
#fonctionnement .fonctionnementtitle {
  font-weight: bold;
  font-size: 50px;
  margin-left: 40px;
  margin-top: 100px;
  margin-bottom: 65px;
}
#fonctionnement .fonctionnementbox {
  height: 90px;
  width: 650px;
  margin-left: 60px;
  margin-right: 60px;
  border-radius: 50px;
  background: #F6F6F6;
  text-align: center;
  box-shadow: 0px 21px 31px rgb(209, 209, 209);
  padding-top: 60px;
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 60px;
}
#fonctionnement .fonctionnementboxnumber {
  float: left;
  border-radius: 100px;
  background: #9356DC;
  padding-left: 15px;
  padding-top: 10px;
  padding-right: 16px;
  padding-bottom: 10px;
  color: white;
  font-size: 20px;
  margin-left: -20px;
}
#fonctionnement i {
  float: left;
  color: #7E7E7E;
  margin-left: 55px;
  margin-top: -5px;
  font-size: 50px;
}

#restaurants {
  height: 2650px;
  width: 768px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background: #F6F6F6;
  font-family: "Roboto";
}
#restaurants .restaurantstitle {
  font-weight: bold;
  font-size: 50px;
  margin-left: 40px;
  margin-top: 100px;
  margin-bottom: 60px;
}
#restaurants .restaurantbox {
  height: 545px;
  width: 675px;
  background: white;
  border-radius: 30px;
  margin-left: 47px;
  margin-right: 47px;
  margin-bottom: 35px;
}
#restaurants .restaurantbox .restaurantboximage {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
#restaurants .restaurantbox .restaurantboxtitle {
  font-weight: bold;
  font-size: 35px;
  margin-left: 25px;
  margin-top: 30px;
}
#restaurants .restaurantbox .restaurantboxtext {
  font-weight: lighter;
  font-size: 30px;
  margin-left: 25px;
  margin-top: 10px;
}
#restaurants .restaurantbox i {
  float: right;
  margin-right: 35px;
  font-size: 50px;
  color: white;
  -webkit-text-stroke: 2px black;
}
#restaurants .restaurantbox i:hover {
  background-image: linear-gradient(-1deg, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-stroke: transparent;
}

footer {
  height: 350px;
  width: 768px;
  background: #353535;
  display: flex;
  flex-direction: row;
  color: white;
}
footer .footertitle {
  list-style-type: none;
  font-family: "Shrikhand", cursive;
  font-size: 35px;
  margin-top: 30px;
  margin-bottom: 30px;
}
footer .footerlist {
  list-style-type: none;
  font-family: "Roboto";
  font-size: 30px;
  margin-bottom: 15px;
}
footer i {
  float: left;
  margin-right: 15px;
}

#menu {
  background: url(/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  background-size: 115%;
  background-repeat: no-repeat;
  padding-top: 475px;
}
#menu .menubox {
  width: 768px;
  height: 2200px;
  background: #F6F6F6;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}
#menu .menubox .menutitle {
  font-family: "Shrikhand", cursive;
  font-size: 50px;
  margin-left: 40px;
  padding-top: 60px;
}
#menu .menubox .menutitle i {
  float: right;
  margin-right: 75px;
  font-size: 50px;
  color: white;
  -webkit-text-stroke: 2px black;
}
#menu .menubox .menutitle i:hover {
  background-image: linear-gradient(-1deg, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-stroke: transparent;
}
#menu .menubox .menusubtitle {
  width: 75px;
  height: 40px;
  font-family: "Roboto";
  font-size: 30px;
  font-weight: lighter;
  margin-left: 40px;
  margin-top: 100px;
  border-bottom: 5px solid #99E2D0;
}
#menu .menubox .menumealbox {
  width: 710px;
  height: 110px;
  background: white;
  border-radius: 30px;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: 0px 21px 31px rgb(209, 209, 209);
}
#menu .menubox .menumealbox .menumealboxtitle {
  font-family: "Roboto";
  font-size: 30px;
  font-weight: bold;
  margin-left: 15px;
  padding-top: 20px;
}
#menu .menubox .menumealbox .menumealboxtext {
  font-family: "Roboto";
  font-size: 25px;
  font-weight: lighter;
  margin-left: 15px;
  padding-top: 10px;
}
#menu .menubox .menumealbox .menumealboxprice {
  float: right;
  font-family: "Roboto";
  font-size: 25px;
  font-weight: bold;
  color: #353535;
  margin-right: 40px;
  margin-top: -30px;
}
#menu .menubox .menubutton {
  font-family: "Roboto";
  font-size: 40px;
  text-align: center;
  background-image: linear-gradient(-1deg, #9356DC, #FF79DA);
  color: white;
  border-radius: 50px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 200px;
  margin-top: 100px;
  margin-right: 200px;
}

/*# sourceMappingURL=smartphone.css.map */
