@mixin roboto {
    font-family: 'Roboto';
}

@mixin shrikhand {
    font-family: 'Shrikhand', cursive;
}

@mixin primaire {
    background: #9356DC;
}

@mixin secondaire {
    background: #FF79DA ;
}

@mixin tertiaire {
    background: #99E2D0;
}

#headertitle {
    display: flex;
    flex-wrap: wrap;
    height: 135px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 5px;

    .title {
        @include shrikhand();
        font-size: 70px;
    }
}

#headerlocalization {
    height: 110px;
    background: #EAEAEA;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #353535;
    font-size: 30px;

    .pinmap {
        margin-right: 30px;
    }

    .localization
        {
            font-weight: bold;
            @include roboto();
        }
}

#reservation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: #F6F6F6;
    height: 615px;
    @include roboto();

    .reservationtitle
    {
        font-weight: bold;
        font-size: 50px;
        margin-left: 100px;
        margin-right: 100px;
        margin-bottom: 30px;
    }

    .reservationtext
    {
        font-weight: lighter;
        font-size: 40px;
        margin-bottom: 50px;
    }

    .reservationbutton
    {
        font-size: 40px;
        @include secondaire;
        color: white;
        border-radius: 50px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 30px;
        padding-bottom: 30px;
        margin-left: 120px;
        margin-right: 120px;
    }

}

#fonctionnement {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background: white;
    height: 920px;
    @include roboto();

    .fonctionnementtitle {
        font-weight: bold;
        font-size: 50px;
        margin-left: 40px;
        margin-top: 100px;
        margin-bottom: 65px;
    }

    .fonctionnementbox {
        height: 90px;
        margin-left: 60px;
        margin-right: 60px;
        border-radius: 50px;
        background: #F6F6F6;
        text-align: center;
        box-shadow: 0px 21px 31px rgb(209, 209, 209);
        padding-top: 60px;
        font-weight: bold;
        font-size: 35px;
    }

    .fonctionnementboxnumber {
            float: left;
            border-radius: 100px;
            @include primaire;
            padding-left: 15px;
            padding-top: 10px;
            padding-right: 16px;
            padding-bottom: 10px;
            color: white;
            font-size: 20px;
            margin-left: -20px;
        }

        i {
            float: left;
            color: #7E7E7E;
            margin-left: 55px;
            margin-top: -5px;
            font-size: 50px;
        }
}

footer {
    background: #353535;
    width: 100%;
    display: flex;
    flex-direction: row;
    color: white;

    .footertitle {
        list-style-type: none;
        @include shrikhand();
        font-size: 35px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .footerlist {
        list-style-type: none;
        @include roboto();
        font-size: 30px;
        margin-bottom: 15px;
    }

    i {
        float: left;
        margin-right: 15px;
    }
}